In [1]:
import numpy as np
import sympy as sp
import pandas as pd
from mpmath import mp
from scipy.linalg import hilbert
from IPython.display import display, Math
from helper_funcs import *
from func_list import *

mp.dps = 100

**(i)**

Steepest Descent(SD) --> task 1-5

Newton's Method(NM) --> task 6-10

In [2]:
functions = {
    'func1': func1,
    'func2': func2,
    'func3': func3,
    'func4': func4,
    'func5': func5
}

gradients = {
    'func1': grad1,
    'func2': grad2,
    'func3': grad3,
    'func4': grad4,
    'func5': grad5
}

hessians = {
    'func1': hessian1,
    'func2': hessian2,
    'func3': hessian3,
    'func4': hessian4,
    'func5': hessian5
}

In [3]:
display(Math(r'f(x) = x^3 - 3x^2 + 2x - 1'))
display(Math(r'f(x) = x^4 - 6x^2 + 9'))
display(Math(r'f(x) = x^5 - 10x^3 + 25x'))
display(Math(r'f(x) = x^4 - 12x^2 + 36'))
display(Math(r'f(x) = x^3 - 6x^2 + 9'))

x = sp.symbols('x')
f1 = x**3 - 3*x**2 + 2*x - 1
f2 = x**4 - 6*x**2 + 9
f3 = x**5 - 10*x**3 + 25*x
f4 = x**4 - 12*x**2 + 36
f5 = x**3 - 6*x**2 + 9

functs = [f1, f2, f3, f4, f5]

for i, f in enumerate(functs):
    grad = sp.diff(f, x)
    hess = sp.diff(grad, x)
    stationary_points = sp.solve(grad, x)

    display(Math(f'\\nabla f_{i+1} = {grad}'))
    display(Math(f'H_{i+1} = {hess}'))
    display(Math(f'x^* = {stationary_points}'))

In [4]:
# function 1 with steepest descent
display(Math(r'f(x) = x^3 - 3x^2 + 2x - 1'))
display(Math(r'x^* = 1 - \frac{\sqrt{3}}{3}, 1 + \frac{\sqrt{3}}{3}'))

x_values, f_values = descent(func1, grad1, p, x_0=0.5, alpha=0.01, num_iter=10000, method='steepest descent')
data = pd.DataFrame({'x': x_values, 'f(x)': f_values})
data

alpha = 0.005
alpha = 0.0025
alpha = 0.00125
alpha = 0.000625
alpha = 0.0003125
alpha = 0.00015625
alpha = 7.8125e-05
alpha = 3.90625e-05
alpha = 1.953125e-05
alpha = 9.765625e-06
alpha = 4.8828125e-06
alpha = 2.44140625e-06
alpha = 1.220703125e-06
alpha = 6.103515625e-07
Stopping criterion (1e-06) reached at iteration 116

            x      f(x)
0    0.500000 -0.625000
1    0.510000 -0.627649
2    0.520000 -0.630592
3    0.530000 -0.633823
4    0.540000 -0.637336
..        ...       ...
112  1.577354 -1.384900
113  1.577349 -1.384900
114  1.577351 -1.384900
115  1.577350 -1.384900
116  1.577350 -1.384900

[117 rows x 2 columns]

In [5]:
# function 1 with Newton's method
hessian = hessians['func1']
x_values, f_values = descent(func1, grad1, p, x_0=0.5, alpha=0.1, num_iter=10000, method='newton', hessian=hessian)
data = pd.DataFrame({'x': x_values, 'f(x)': f_values})
data

alpha = 0.05
alpha = 0.025
alpha = 0.0125
alpha = 0.00625
alpha = 0.003125
alpha = 0.0015625
alpha = 0.00078125
alpha = 0.000390625
alpha = 0.0001953125
alpha = 9.765625e-05
alpha = 4.8828125e-05
alpha = 2.44140625e-05
alpha = 1.220703125e-05
alpha = 6.103515625e-06
alpha = 3.0517578125e-06
alpha = 1.52587890625e-06
alpha = 7.62939453125e-07
alpha = 3.814697265625e-07
alpha = 1.9073486328125e-07
alpha = 9.5367431640625e-08
alpha = 4.76837158203125e-08
alpha = 2.384185791015625e-08
alpha = 1.1920928955078126e-08
alpha = 5.960464477539063e-09
alpha = 2.9802322387695314e-09
alpha = 1.4901161193847657e-09
alpha = 7.450580596923829e-10
alpha = 3.7252902984619143e-10
alpha = 1.8626451492309571e-10
alpha = 9.313225746154786e-11
alpha = 4.656612873077393e-11
alpha = 2.3283064365386964e-11
alpha = 1.1641532182693482e-11
alpha = 5.820766091346741e-12
alpha = 2.9103830456733705e-12
alpha = 1.4551915228366853e-12
alpha = 7.275957614183426e-13
alpha = 3.637978807091713e-13
alpha = 1.8189894035458566e-13
alpha = 9.094947017729283e-14
alpha = 4.5474735088646414e-14
alpha = 2.2737367544323207e-14
alpha = 1.1368683772161604e-14
alpha = 5.684341886080802e-15
alpha = 2.842170943040401e-15
alpha = 1.4210854715202005e-15
alpha = 7.105427357601002e-16
alpha = 3.552713678800501e-16

              x      f(x)
0      0.500000 -0.625000
1      0.491667 -0.623021
2      0.491667 -0.623021
3      0.491667 -0.623021
4      0.491667 -0.623021
...         ...       ...
9997   0.491667 -0.623021
9998   0.491667 -0.623021
9999   0.491667 -0.623021
10000  0.491667 -0.623021
10001  0.491667 -0.623021

[10002 rows x 2 columns]

In [6]:
# function 2 with steepest descent
display(Math(r'f(x) = x^4 - 6x^2 + 9'))
display(Math(r'x^* = -\sqrt{3}, \sqrt{3}, 0'))

x_values, f_values = descent(func2, grad2, p, x_0=0.1, alpha=0.01, num_iter=10000, method='steepest descent')
data = pd.DataFrame({'x': x_values, 'f(x)': f_values})
data

alpha = 0.005
alpha = 0.0025
alpha = 0.00125
alpha = 0.000625
alpha = 0.0003125
alpha = 0.00015625
alpha = 7.8125e-05
alpha = 3.90625e-05
alpha = 1.953125e-05
Stopping criterion (1e-06) reached at iteration 169

            x          f(x)
0    0.100000  8.940100e+00
1    0.110000  8.927546e+00
2    0.120000  8.913807e+00
3    0.130000  8.898886e+00
4    0.140000  8.882784e+00
..        ...           ...
165  1.731875  3.708620e-07
166  1.732188  2.242355e-07
167  1.732031  4.589932e-09
168  1.732070  4.565360e-09
169  1.732051  8.881784e-15

[170 rows x 2 columns]

In [10]:
# function 2 with Newton's method
hessian = hessians['func2']
x_values, f_values = descent(func2, grad2, p, x_0=0.1, alpha=0.01, num_iter=10000, method='newton', hessian=hessian)
data = pd.DataFrame({'x': x_values, 'f(x)': f_values})
data

alpha = 0.005
alpha = 0.0025
alpha = 0.00125
alpha = 0.000625
alpha = 0.0003125
alpha = 0.00015625
alpha = 7.8125e-05
alpha = 3.90625e-05
alpha = 1.953125e-05
alpha = 9.765625e-06
alpha = 4.8828125e-06
alpha = 2.44140625e-06
alpha = 1.220703125e-06
alpha = 6.103515625e-07
alpha = 3.0517578125e-07
alpha = 1.52587890625e-07
alpha = 7.62939453125e-08
alpha = 3.814697265625e-08
alpha = 1.9073486328125e-08
alpha = 9.5367431640625e-09
alpha = 4.76837158203125e-09
alpha = 2.384185791015625e-09
alpha = 1.1920928955078125e-09
alpha = 5.960464477539063e-10
alpha = 2.9802322387695313e-10
alpha = 1.4901161193847657e-10
alpha = 7.450580596923828e-11
alpha = 3.725290298461914e-11
alpha = 1.862645149230957e-11
alpha = 9.313225746154785e-12
alpha = 4.656612873077393e-12
alpha = 2.3283064365386963e-12
alpha = 1.1641532182693482e-12
alpha = 5.820766091346741e-13
alpha = 2.9103830456733704e-13
alpha = 1.4551915228366852e-13
alpha = 7.275957614183426e-14
alpha = 3.637978807091713e-14
alpha = 1.8189894035458565e-14
alpha = 9.094947017729283e-15
alpha = 4.547473508864641e-15
alpha = 2.2737367544323206e-15
alpha = 1.1368683772161603e-15
alpha = 5.684341886080802e-16
alpha = 2.842170943040401e-16
alpha = 1.4210854715202004e-16
alpha = 7.105427357601002e-17
alpha = 3.552713678800501e-17

              x      f(x)
0      0.100000  8.940100
1      0.098993  8.941298
2      0.098993  8.941298
3      0.098993  8.941298
4      0.098993  8.941298
...         ...       ...
9997   0.098993  8.941298
9998   0.098993  8.941298
9999   0.098993  8.941298
10000  0.098993  8.941298
10001  0.098993  8.941298

[10002 rows x 2 columns]

In [13]:
# function 3 with steepest descent
display(Math(r'f(x) = x^5 - 10x^3 + 25x'))
display(Math(r'x^* = -1, 1, -\sqrt{5}, \sqrt{5}'))

x_values, f_values = descent(func3, grad3, p, x_0=0.1, alpha=0.01, num_iter=10000, method='steepest descent')
data = pd.DataFrame({'x': x_values, 'f(x)': f_values})
data

Stopping criterion (1e-06) reached at iteration 110

        x       f(x)
0    0.10   2.490010
1    0.09   2.242716
2    0.08   1.994883
3    0.07   1.746572
4    0.06   1.497841
..    ...        ...
106 -0.96 -15.968013
107 -0.97 -15.982004
108 -0.98 -15.992001
109 -0.99 -15.998000
110 -1.00 -16.000000

[111 rows x 2 columns]

In [14]:
# function 3 with Newton's method
hessian = hessians['func3']
x_values, f_values = descent(func3, grad3, p, x_0=0.1, alpha=0.001, num_iter=10000, method='newton', hessian=hessian)
data = pd.DataFrame({'x': x_values, 'f(x)': f_values})
data

alpha = 0.0005
alpha = 0.00025
alpha = 0.000125
alpha = 6.25e-05
alpha = 3.125e-05
alpha = 1.5625e-05
alpha = 7.8125e-06
alpha = 3.90625e-06
alpha = 1.953125e-06
alpha = 9.765625e-07
alpha = 4.8828125e-07
alpha = 2.44140625e-07
alpha = 1.220703125e-07
alpha = 6.103515625e-08
alpha = 3.0517578125e-08
alpha = 1.52587890625e-08
alpha = 7.62939453125e-09
alpha = 3.814697265625e-09
alpha = 1.9073486328125e-09
alpha = 9.5367431640625e-10
alpha = 4.76837158203125e-10
alpha = 2.384185791015625e-10
alpha = 1.1920928955078125e-10
alpha = 5.960464477539063e-11
alpha = 2.980232238769531e-11
alpha = 1.4901161193847657e-11
alpha = 7.450580596923828e-12
alpha = 3.725290298461914e-12
alpha = 1.862645149230957e-12
alpha = 9.313225746154785e-13
alpha = 4.656612873077393e-13
alpha = 2.3283064365386963e-13
alpha = 1.1641532182693482e-13
alpha = 5.820766091346741e-14
alpha = 2.9103830456733704e-14
alpha = 1.4551915228366852e-14
alpha = 7.275957614183426e-15
alpha = 3.637978807091713e-15
alpha = 1.8189894035458565e-15
alpha = 9.094947017729283e-16
alpha = 4.547473508864641e-16
alpha = 2.2737367544323206e-16
alpha = 1.1368683772161603e-16
alpha = 5.684341886080802e-17
alpha = 2.842170943040401e-17
alpha = 1.4210854715202004e-17
alpha = 7.105427357601002e-18
alpha = 3.552713678800501e-18
alpha = 1.7763568394002505e-18
alpha = 8.881784197001253e-19

              x      f(x)
0      0.100000  2.490010
1      0.104131  2.591984
2      0.104131  2.591984
3      0.104131  2.591984
4      0.104131  2.591984
...         ...       ...
9997   0.104131  2.591984
9998   0.104131  2.591984
9999   0.104131  2.591984
10000  0.104131  2.591984
10001  0.104131  2.591984

[10002 rows x 2 columns]

In [14]:
# function 4 with steepest descent
display(Math(r'f(x) = x^4 - 12x^2 + 36'))
display(Math(r'x^* = -\sqrt{6}, \sqrt{6}, 0'))

x_values, f_values = descent(func4, grad4, p, x_0=0.3, alpha=0.01, num_iter=10000, method='steepest descent')
data = pd.DataFrame({'x': x_values, 'f(x)': f_values})
data

alpha = 0.005
alpha = 0.0025
alpha = 0.00125
alpha = 0.000625
alpha = 0.0003125
alpha = 0.00015625
alpha = 7.8125e-05
alpha = 3.90625e-05
alpha = 1.953125e-05
alpha = 9.765625e-06
alpha = 4.8828125e-06
alpha = 2.44140625e-06
Stopping criterion (1e-06) reached at iteration 221

            x          f(x)
0    0.300000  3.492810e+01
1    0.310000  3.485604e+01
2    0.320000  3.478169e+01
3    0.330000  3.470506e+01
4    0.340000  3.462616e+01
..        ...           ...
217  2.449531  4.134908e-08
218  2.449453  3.218021e-08
219  2.449492  1.434373e-10
220  2.449487  1.426628e-10
221  2.449490  0.000000e+00

[222 rows x 2 columns]

In [15]:
# function 4 with Newton's method
hessian = hessians['func4']
x_values, f_values = descent(func4, grad4, p, x_0=0.3, alpha=0.01, num_iter=10000, method='newton', hessian=hessian)
data = pd.DataFrame({'x': x_values, 'f(x)': f_values})
data

alpha = 0.005
alpha = 0.0025
alpha = 0.00125
alpha = 0.000625
alpha = 0.0003125
alpha = 0.00015625
alpha = 7.8125e-05
alpha = 3.90625e-05
alpha = 1.953125e-05
alpha = 9.765625e-06
alpha = 4.8828125e-06
alpha = 2.44140625e-06
alpha = 1.220703125e-06
alpha = 6.103515625e-07
alpha = 3.0517578125e-07
alpha = 1.52587890625e-07
alpha = 7.62939453125e-08
alpha = 3.814697265625e-08
alpha = 1.9073486328125e-08
alpha = 9.5367431640625e-09
alpha = 4.76837158203125e-09
alpha = 2.384185791015625e-09
alpha = 1.1920928955078125e-09
alpha = 5.960464477539063e-10
alpha = 2.9802322387695313e-10
alpha = 1.4901161193847657e-10
alpha = 7.450580596923828e-11
alpha = 3.725290298461914e-11
alpha = 1.862645149230957e-11
alpha = 9.313225746154785e-12
alpha = 4.656612873077393e-12
alpha = 2.3283064365386963e-12
alpha = 1.1641532182693482e-12
alpha = 5.820766091346741e-13
alpha = 2.9103830456733704e-13
alpha = 1.4551915228366852e-13
alpha = 7.275957614183426e-14
alpha = 3.637978807091713e-14
alpha = 1.8189894035458565e-14
alpha = 9.094947017729283e-15
alpha = 4.547473508864641e-15
alpha = 2.2737367544323206e-15
alpha = 1.1368683772161603e-15
alpha = 5.684341886080802e-16
alpha = 2.842170943040401e-16
alpha = 1.4210854715202004e-16
alpha = 7.105427357601002e-17

              x       f(x)
0      0.300000  34.928100
1      0.296906  34.949935
2      0.296906  34.949935
3      0.296906  34.949935
4      0.296906  34.949935
...         ...        ...
9997   0.296906  34.949935
9998   0.296906  34.949935
9999   0.296906  34.949935
10000  0.296906  34.949935
10001  0.296906  34.949935

[10002 rows x 2 columns]

In [15]:
# function 5 with steepest descent
display(Math(r'f(x) = -x^3 - 6x^2 + 9'))
display(Math(r'x^* = 0, 4'))

x_values, f_values = descent(func5, grad5, p, x_0=0.1, alpha=0.01, num_iter=10000, method='steepest descent')
data = pd.DataFrame({'x': x_values, 'f(x)': f_values})
data

Stopping criterion (1e-06) reached at iteration 390

        x       f(x)
0    0.10   8.941000
1    0.11   8.928731
2    0.12   8.915328
3    0.13   8.900797
4    0.14   8.885144
..    ...        ...
386  3.96 -22.990464
387  3.97 -22.994627
388  3.98 -22.997608
389  3.99 -22.999401
390  4.00 -23.000000

[391 rows x 2 columns]

In [12]:
# function 5 with Newton's method
hessian = hessians['func5']
x_values, f_values = descent(func5, grad5, p, x_0=0.1, alpha=0.01, num_iter=10000, method='newton', hessian=hessian)
data = pd.DataFrame({'x': x_values, 'f(x)': f_values})
data

alpha = 0.005
alpha = 0.0025
alpha = 0.00125
alpha = 0.000625
alpha = 0.0003125
alpha = 0.00015625
alpha = 7.8125e-05
alpha = 3.90625e-05
alpha = 1.953125e-05
alpha = 9.765625e-06
alpha = 4.8828125e-06
alpha = 2.44140625e-06
alpha = 1.220703125e-06
alpha = 6.103515625e-07
alpha = 3.0517578125e-07
alpha = 1.52587890625e-07
alpha = 7.62939453125e-08
alpha = 3.814697265625e-08
alpha = 1.9073486328125e-08
alpha = 9.5367431640625e-09
alpha = 4.76837158203125e-09
alpha = 2.384185791015625e-09
alpha = 1.1920928955078125e-09
alpha = 5.960464477539063e-10
alpha = 2.9802322387695313e-10
alpha = 1.4901161193847657e-10
alpha = 7.450580596923828e-11
alpha = 3.725290298461914e-11
alpha = 1.862645149230957e-11
alpha = 9.313225746154785e-12
alpha = 4.656612873077393e-12
alpha = 2.3283064365386963e-12
alpha = 1.1641532182693482e-12
alpha = 5.820766091346741e-13
alpha = 2.9103830456733704e-13
alpha = 1.4551915228366852e-13
alpha = 7.275957614183426e-14
alpha = 3.637978807091713e-14
alpha = 1.8189894035458565e-14
alpha = 9.094947017729283e-15
alpha = 4.547473508864641e-15
alpha = 2.2737367544323206e-15

          x      f(x)
0  0.100000  8.941000
1  0.098974  8.942195
2  0.098974  8.942195